[2019-09-07 18:58] obrigg opened #1 "Self-signed certificate - disabling warning"
Thanks for creating this SDK!
Trying it out with the DevNet sandbox DNAC - it works fine.
However, when I tried pulling my lab's DNAC, I got the following error:

Adding "requests.packages.urllib3.disable_warnings() " to the script did not help.

How can I use the SDK with self-signed certificates?

Regards,
Oren.

[2019-09-09 19:14] zapodeanu commented on #1
Hi,
Thank you for the interest in the SDK.
the config.py file includes the option to configure the SDK to use your lab Cisco DNA Center:

# Package Constants
DEFAULT_BASE_URL = 'https://sandboxdnac2.cisco.com:443'

DEFAULT_SINGLE_REQUEST_TIMEOUT = 60

DEFAULT_WAIT_ON_RATE_LIMIT = True

**DEFAULT_VERIFY = True**, change to False

DEBUG_ENVIRONMENT_VARIABLE = 'DEBUG'

[2019-09-10 19:37] #1 closed

[2019-10-10 22:22] robertcsapo opened #2 "Support for Event Management (webhook) - DNA Center 1.3.1"
- Delete Event Subscriptions
- Count of Event Subscriptions
- Get Events
- Count of Events
- Count of Notifications
- Get Status API for Events
- Get Event Subscriptions
- Get Notifications
- Create Event Subscriptions
- Update Event Subscriptions

![image](https://user-images.githubusercontent.com/11992244/66610709-59af4000-eb71-11e9-9baf-125533db8a80.png)

[2019-10-11 00:00] zapodeanu commented on #2
The SDK does not have support for 1.3.1.x at this time. We will support the Event Management APIs when we have the SDK available for 1.3.1.1

[2019-10-11 00:00] #2 closed

[2019-10-20 08:02] cunningr opened #3 "Auth URL Auth for 1.2.10"
When installing using pip, I am unable to authenticate against DNA Center 1.2.10 even when setting the version to '1.2.10'

I believe this is due to the 'temp_url' setting in;

https://github.com/cisco-en-programmability/dnacentersdk/blob/master/dnacentersdk/api/authentication.py

which is currently set ```/dna/system/api/v1/auth/token```

On 1.2.10 the working auth path I found is ```/api/system/

[2019-10-20 12:01] cunningr opened #4 "CustomCaller usage"
Hi,

Are there any examples of how to use the CustomCaller?

https://dnacentersdk.readthedocs.io/en/latest/api/api.html#custom-caller

My assumption is that this can be used to add support for custom or yet 'undocumented' API calls on the fly?

Apologies if this is not the case.

[2019-10-22 22:56] jbogarin commented on #4
@cunningr that’s exactly the reason for that custom-caller, being able to use SDK for API calls that are not documented or were not documented when the SDK was released.

I’ll send an example tomorrow or update the README.

[2019-10-22 22:59] jbogarin commented on #3
@cunningr we haven’t seen that problem in our testing. Are you trying with DNA Center sandbox we can test or your own internal one?

If you are doing it with your own server, could you please share a debug. It should be possible defining the environment variable DBEUG

[2019-10-23 15:24] zapodeanu commented on #3
Did you do an upgrade to 1.2.10 from a previous image? If yes, please disable the REST API bundle, and re-enable

[2019-10-24 08:55] AstritCepele opened #5 "CDP neighbor"
I would like to know if there is a module in the latest SDK for DNAC version 1.3.X to get a CDP neighbor detail. I would like to get the ID and the interface of the neighbor node. Via API n DNAC something like this it is achieved by :  /dna/intent/api/v1/device-enrichment-details.

Somehow i can get the data via  dnac.sites.get_physical_topology(). But there is a big amount of data process. The si

[2019-10-26 00:55] zapodeanu commented on #5
Hi, Thank you for your question. Please specify what information is available to use for the query? Device hostname and interface name?
Are you looking for the device id of the device connected to the device/interface specified?

[2019-11-04 21:42] cunningr commented on #3
Hi Gabriel,

Yes I have upgraded from previous version but I can't see a package called
'REST API bundle'.  How/where should disable/enable that?

Thanks,

Rich

On Wed, 23 Oct 2019 at 16:24, Gabriel Zapodeanu <notifications@github.com>
wrote:

[2019-11-04 21:46] cunningr commented on #3
Hi Jose,

I am actually struggling to enable the DEBUG (this my own DNAC appliance).
The docs say that it should be a ENV variable of type Boolean.  If export
it like so;

# export DEBUG=true

I don't get any additional debug output;

cisco@cisco:~/EMEAR-Enterprise-Networking/python/tables$ python3 apiDb.py
Traceback (most recent call last):
  File "apiDb.py", line 15, in <module>
    api = DNACen

[2019-11-04 22:09] zapodeanu commented on #3
Please follow the menu:
Platform > Manage > Bundles > DNA Center REST APIs > click to Disable and re-Enable. Reach out to me directly gzapodea@cisco.com if you need help.

[2019-11-20 22:53] jbogarin commented on #4
@cunningr sorry for the delay, we updated the documentation. Here is an example of using the custom caller

https://dnacentersdk.readthedocs.io/en/latest/api/quickstart.html#adding-api-call-definitions

Hope it helps.

[2019-11-20 22:53] #4 closed

[2019-12-30 19:27] jabelk opened #6 "API docs not rendering"
Looks like the readthedocs API rst is not present:

https://github.com/cisco-en-programmability/dnacentersdk/blob/master/docs/api/api_structure_table_v1_2_10.rst
and
https://github.com/cisco-en-programmability/dnacentersdk/blob/master/docs/api/api_structure_table_v1_3_0.rst

used to be present in the RTD, but not seeing it now:
https://dnacentersdk.readthedocs.io/en/latest/api/api.html
is an empty

[2019-12-30 23:00] jabelk commented on #6
it looks like it is rendering on the stable release:
https://dnacentersdk.readthedocs.io/en/stable/api/api.html

[2020-01-28 15:02] daxm opened #7 "Support for DNA Center version 1.3.3.x?"
I'm just getting started with this Python package but it appears it only support 1.2.10 and 1.3.0 versions of DNA Center currently.  Any plans on adding/changing the APIs to support 1.3.3?  (outside of the custom APIs feature)

[2020-02-06 00:10] daxm opened #9 "DNACenterAPI.sites.assign_device_to_site() not working?"
I can successfully issue a call to DNACenterAPI.sites.assign_device_to_site(device=[list of device objects], site_id="site ID").  I get back the following:
{'executionId': '39ff436e-5733-4f69-9efe-bd327ab72bd3', 'executionStatusUrl': '/dna/platform/management/business-api/v1/execution-status/39ff436e-5733-4f69-9efe-bd327ab72bd3', 'message': 'The request has been accepted for execution'}

And nothi

[2020-02-07 16:31] daxm commented on #9
Making "some" progress.  I've dug into the "execution" message URL and this is the error:
{"site":"Device ip not available in input json {\"device\":[{\"memorySize\":\"NA\",\"family\":\"Switches and Hubs\",\"type\":\"Cisco Catalyst 9300 Switch\",\"roleSource\":\"AUTO\",\"lastUpdateTime\":1581077326254,\"softwareType\":\"IOS-XE\",\"softwareVersion\":\"16.12.1s\",\"apManagerInterfaceIp\":\"\",\"seri

[2020-02-08 18:13] daxm commented on #9
I solved it.  The "devices" variable being passed says it is supposed to be a "device object" but what it really wants is a list of dictionaries like {"ip": "managementIpAddress of device"}.  Just passing the device "object" in isn't good enough as the key name is different than what the assign_device_to_site() expects.

[2020-02-11 01:14] zapodeanu commented on #7
Hi, Thank you for your interest in the SDK. We are working on updating the library to the latest Cisco DNA Center software version.

[2020-02-11 01:14] #7 closed

[2020-02-12 18:44] jrpell opened #10 "Traceback using script to export templates to JSON file"
I'm using a script from Github built to backup templates from DNA Center and it's giving a traceback error on a script in the dnacentersdk library.  Not sure what I need to do to fix it but wanted to report this.  Here's the script from Github I'm trying to run:

https://github.com/CiscoDevNet/DNAC-TemplateTool

Here's the error I'm getting:
Traceback (most recent call last):
  File "template_arch

[2020-04-06 14:01] halkan1 opened #11 "API Urls have changed"
We are using DNA Center 1.3.3.3 and the api urls seems to have changed thus breaking this SDK. I noticed it when playing around with getting our templates.
The hardcoded URL in the SDK is:
/dna/intent/api/v1/template-programmer/template

but in the new version of DNA Center it is:
api/v1/template-programmer/template

[2020-04-06 15:24] zapodeanu commented on #11
@Halkan1 I checked with my cluster running 1.3.3.3 and the API has not changed. The SDK does not support version 1.3.3.3, I working on having it updated. Due to this it is not tested for version 1.3.3.3.

[2020-04-07 05:13] halkan1 commented on #11
@zapodeanu
It appears that you are correct as an old Cisco blog I found states the API uses the URL {hostname}/api/v1/... but non the less the hardcoded URL in template_programmer.py (the e_url variable) is still set to '/dna/intent/api/v1/' which doesn't work.

I will be honest and say I have not deciphered all of the SDK code but I did notice that if I changed all occurrences of '/dna/intent/' t

[2020-04-07 10:49] halkan1 commented on #11
Hi again,

An update on this. It turns out that this is a bug in DNAC. CSCvr70208 as found here:
https://www.cisco.com/c/en/us/td/docs/cloud-systems-management/network-automation-and-management/dna-center-platform/1-3-3-0/release_notes/b_dnac_platform_rn_1_3_3_0.html#id_130777

So after I applied the workaround it started working as expected without altering the hardcoded URL in the SDK.

Sorry fo

[2020-04-07 10:49] #11 closed

[2020-06-24 15:05] steffenschumacher opened #12 "Make MyDict cachable"
Hi,
I'm using flask_caching to cache certain responses from DNA Center, where the responses are MyDicts
flask_cache uses Pickle for object serialisation, and would support MyDicts also with a slight modification - namely adding these overrides:

    def __getstate__(self):
        return self.__dict__

    def __setstate__(self, d):
        self.__dict__.update(d)

I can find no harm in doing this

[2020-06-29 17:30] zapodeanu commented on #12
Thank you for your recommendations. We will take this in consideration as we are in the process to update the Cisco DNA Center SDK for the latest Cisco DNA Center version.

[2020-06-29 17:30] #12 closed

[2020-06-30 07:24] NathanDotTo opened #14 "GET for /dna/intent/api/v1/network-device breaks with empty JSON payload"
There is a defect in the DNAC SDK devices.py code, line 547:

    if with_custom_headers:
        json_data = self._session.get(endpoint_full_url, params=params,
                                      json=_payload, headers=_headers)
    else:
        json_data = self._session.get(endpoint_full_url, params=params,
                                      json=_payload)
Passing in json=_payload for a g

[2020-06-30 15:44] jbogarin commented on #14
Nathan,

Thanks for the report. We are actually on the process of upgrading the SDK from the official 1.2.10 support to get up to 2.1.1. We'll definitively take a look at this during the process, which should have an update in the next two or three weeks.

[2020-06-30 18:46] jbogarin commented on #14
Nathan,

We already check and it's definitively a bug in the code. We'll fix this with the new release of the SDK which should come in about two weeks.

[2020-09-01 17:38] stsewd opened #15 "Update readthedocs-sphinx-search"
Looks like you are using an old version of the extension

https://github.com/cisco-en-programmability/dnacentersdk/blob/b752b32091deb010a6c61306bf3b059ce83d7e70/Pipfile.lock#L381-L384

We updated the endpoint used by the search extension, so old versions will stop working soon. Please use the new version of the extension https://github.com/readthedocs/readthedocs-sphinx-search (we have releases in

[2020-09-23 21:44] David00 opened #16 "`base_url` kwarg is ignored causing ApiError to be raised."
I'm trying out this sdk and my initial attempts at calling the api methods are failing with `dnacentersdk.exceptions.ApiError: [404] Not Found`.

I'm running Python 3.8.2 on Ubuntu 18.04 with `dnacentersdk==2.0.0`. My Cisco DNA appliance is running 1.3.3.6. I've added my configuration to my `~/.profile` and loaded it with `source ~/.profile`. My environment variables are all accessible from bash:

[2020-09-23 22:10] David00 commented on #16
This was resolved after restarting the API service within DNA Center.

[2020-09-23 22:10] #16 closed

[2020-10-09 20:27] jordanjms17 opened #17 "dnacentersdk appears to add extra logging.StreamHandler()"
I have boiled this down to a basic issue introduced when importing dnacentersdk, so I'm using the basic logging example from [https://docs.python.org/3.7/howto/logging.html#configuring-logging](url) to demonstrate the issue. When DNACenterAPI is imported, logging messages are sent to stdout twice (once following the configured formatter and once unformatted)

[code]

Output with `from dnacentersdk

[2020-10-14 20:10] robertcsapo commented on #17
It's because ```dnacentersdk``` is configured to create a ```StreamHandler``` as well.

https://github.com/cisco-en-programmability/dnacentersdk/blob/b752b32091deb010a6c61306bf3b059ce83d7e70/dnacentersdk/__init__.py#L55

If we remove this line _(L55 in ```__init__.py```)_, there would only be one logging stream (as you expect in your sample code).
[code]

Then run your sample script.
[code]

I'll

[2020-10-14 20:17] robertcsapo commented on #3
This issue should be fixed in the latest 1.3.3 and 2.1.x release train of Cisco DNA Center Platform.
_(It's rather an issue on Cisco DNA Center Platform, rather than on the SDK)_

@cunningr @zapodeanu  can't we close this issue? 👍

[2020-10-15 04:45] jbogarin commented on #17
Let me review it this weekend and get back to you. We are working on upgrading the SDK to 2.1.2 and we should be able to fix this when we release that version.

[2020-10-19 22:09] jbogarin commented on #17
We are working on updating the SDK to include support for DNAC 2.1.2. We'll improve the logging for that release, which should be ready in two to three weeks.

[2020-11-03 07:16] nnit-kzhg opened #18 "import ERROR: cannot import name api?"
@ubuntu1:~/labs/lab01$ python3
Python 3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'api'

[2020-11-03 08:03] #18 closed

[2020-11-11 20:51] dannysheaffer opened #19 "ApiError 404 when using DNAC system other than the sandbox"
I am trying to get the sdk working with my lab system.  The lab system is using a cert from an inter Microsoft CA server.  The root certificate from this CA had to be appended to the cacert.pem file from the certifi package.  Using verify=false would allow an API connection but subsequents calls would fail. This problem was resolved when I updated the capers.pem file

(https://geekcontainer.wordpr

[2020-11-11 21:07] jbogarin commented on #19
@dannysheaffer could you share your code here and the version of DNAC you are testing against?

[2020-11-11 22:53] jordanjms17 commented on #17
This one appears to be fixed in v2.0.2 of the SDK. Closing the issue.

Thanks for the help @jbogarin and @robertcsapo

[2020-11-11 22:53] #17 closed

[2020-11-11 23:16] jbogarin commented on #17
@jordanjms17  thanks, sorry I didn't let you know but we are working on including some extra stuff around the DNA Center SDK for the end of November and haven't had the time to check the issues and close those that are fixed.

Thanks for letting us know that it was solved.

We did update the docs https://dnacentersdk.readthedocs.io/en/latest/api/quickstart.html#configuring-logging-for-dnacentersdk

[2020-11-16 16:29] dannysheaffer commented on #19
Hi Jose

The 404 error happens whenever I try to access an API call.

% source dnac-env/bin/activate

% pip list
Package            Version
------------------ ---------
attrs              20.3.0
certifi            2020.11.8
chardet            3.0.4
click              7.1.2
dnacentercli       2.0.0
dnacentersdk       2.0.2
fastjsonschema     2.14.5
future             0.18.2
idna               2.10

[2020-11-17 14:57] jbogarin commented on #19
@dannysheaffer I see that you closed the issue. Do you still need us to investigate?

[2020-11-18 02:04] dannysheaffer commented on #19
Hi Jose

Yes please.  I'm not sure why the issue was closed.

[2020-11-18 10:20] mminnen opened #20 "Attribute error"
Traceback (most recent call last):
  File "./dnac_assurance.py", line 17, in <module>
    network_health= dnac.networks.get_overall_network_health(timestamp='')
AttributeError: 'DNACenterAPI' object has no attribute 'networks'

Can be solved by adding version number '1.3.1.' to dnac instance creation or replace attribute networks with topology for API 2.x

[2020-11-18 15:58] jbogarin commented on #20
@mminnen you can check the SDK API docs here. https://dnacentersdk.readthedocs.io/en/latest/api/api.html

networks changed to topology in 1.3.3, that's why you are getting the error. However, we have a new version of the SDK coming in the next 2 to 3 weeks with aliases between the old API classification and the new one according to the official docs in DNA Center Platform.

[2020-11-18 15:58] #20 closed

[2020-11-18 16:10] jbogarin commented on #19
@dannysheaffer I tested with three different versions of DNA Center: 1.3.1 (Sandbox), 2.1.1, and 2.1.2 (internal labs), and all of them worked.

Do you have other instances you can test against to rule out there is a problem with the instance you are using for testing?

[2020-11-18 16:19] jordanjms17 commented on #19
@dannysheaffer you can also try making the equivalent API call from the developer toolkit in DNA-C. I think what you're trying to hit is probably _**Get Device list**_. Sometimes I get errors even from there and the solution is to disable and re-enable the DNA Center REST API bundle in DNA-C.

[2020-11-25 17:15] dannysheaffer commented on #19
My calls to the API are working now.  They always worked from the DNAC platform UI or Postman.  I disabled the bundled and renabled the bundle and I believe that's what ultimately fixed the issue.  Thank you for the help.

[2020-11-25 17:15] #19 closed

[2020-12-11 01:19] jeremypng opened #23 "preview_template function overwrites params"
From api/v2_1_2/configuration_templates.py

`       params = {
        }
        params.update(request_parameters)
        params = dict_from_items_with_values(params)
`

I'm just going to submit a check for None before this entry.

[2020-12-18 18:34] nonstdout opened #25 "download file API call returns HTTP object incorrectly"
Hi,

I believe the method `file.download_a_file_by_fileid(fileid)` is not working correctly. It works correctly when the `save_file` flag is set to `True` but doesn't return the expected json response when set to default `False`

I will be submitting a PR that fixes this issue.

Cheers

[2020-12-18 18:43] nonstdout commented on #25
Submitted PR #26

[2020-12-21 05:12] jeremypng opened #27 "Add support for business-api"
The sites.create_site endpoint returns an executionId that links to:

{'executionId': '9ea46ac1-d8ed-4da6-9dab-b88adf488c4e',
 'executionStatusUrl': '/dna/platform/management/business-api/v1/execution-status/9ea46ac1-d8ed-4da6-9dab-b88adf488c4e',
 'message': 'The request has been accepted for execution'}

Are there plans to include this api endpoint in a separate module or add it to the tasks.py?

[2021-01-21 18:46] jorgebanegas opened #28 "retrieves_all_network_devices limits to 500"
how can I query to get all my devices instead of limiting to the first 500. I do not know how much devices I should expect. Is there a function that grabs all of the devices in one response

[2021-01-23 00:05] zapodeanu commented on #28
Hi, most of the APIs will have a pagination limit of 500 records, some have a lower limit depending on the amount of data to be returned and the time required to collect the data. If the number of records is lower it will be documented in the API docs. You may receive all records using the offset and limit parameters. For example to get the records 501-600
/dna/intent/api/v1/network-device?offset=

[2021-01-23 00:05] #28 closed

[2021-01-28 16:38] #3 closed

[2021-01-28 16:39] #5 closed

[2021-01-28 16:52] #6 closed

[2021-01-28 16:53] #9 closed

[2021-01-28 16:53] zapodeanu commented on #9
Thank you for the update

[2021-01-28 16:58] zapodeanu commented on #27
Hi, The SDK has support for all Cisco DNA Center published APIs. We will include this API when released by Cisco DNA Center. We have this API on the roadmap.

[2021-01-28 17:00] #14 closed

[2021-02-11 13:58] jorgebanegas opened #30 "504 timed out error after setting timed out to 999999"
using the dnac.sites.get_site_health() function and while using it inside a big scaled dnac environment the api call returns with a 504 timed out error after a minute of loading. What is strange is that i declared the single_request_timeout=99999 when declaring the api.DNACenterAPI. Also tried changing the timed out through environmental variables. Any suggestions or tips?

[2021-02-15 22:04] zapodeanu commented on #30
Is this an issue with the SDK or API? Did you try to make the API call without the SDK and was it successful?

[2021-02-22 17:32] jorgebanegas commented on #30
<img width="611" alt="Screen Shot 2021-02-18 at 2 19 32 PM" src="https://user-images.githubusercontent.com/22305451/108746098-e0b44c80-7509-11eb-8f44-7c648072ac38.png">

Tried using the DNA Center API url /dna/intent/api/v1/site-health and keep receiving this. Any tips on what I should try ?

[2021-02-22 20:32] zapodeanu commented on #30
It seems the issue is related to the API and not the SDK. Please open a TAC case to help you with the API call logs.

[2021-02-22 20:32] #30 closed

[2021-02-24 03:41] jbogarin commented on #10
@jrpell  We'll try to replicate this because the error is not clear enough.

[2021-04-27 20:26] kiskander opened #31 "Issue with Ver 2.2.0"
After successfully installing , when importing this errors out (on Mac and Windows)

[code]

[2021-04-30 04:25] jbogarin commented on #31
Kareem,

Done. Sorry for the delay. The problem was because of new APIs for version 2.2.1 that define a default value of true and false and we are using that to generate the code, but, obviously python needs True and False.

I already uploaded version 2.2.1 to pypi.

[2021-05-07 22:07] timway opened #32 "Secure? Repository Doesn't Match Published Code"
Is this repository secure or safe? The PyPI package has versions that don't seem to be published here. I can't openly view the code that was released (easily).

https://pypi.org/project/dnacentersdk/

Also, is there a pattern being used here? @jbogarin you mentioned code generation #31 is that true? Is the code for generating in the repo somewhere as well or as that a reference to all of the JS im

[2021-05-07 22:14] jbogarin commented on #32
Tim,

That's an error on my side. I updated the PyPI files but haven't uploaded the code here. I'll do that today.

And no, the code generation tool is not available, and I don't think it will be.

Do you have any other questions?

[2021-05-07 22:31] timway commented on #32
Thanks all good. Was just inspecting the code and trying to follow what was happening.

I see bpm_ prefixing a number of the areas and all of the JSON files are prefixed with jsd_. What is the significance or is that just a quirk of the code generation tool?

[2021-05-11 00:49] #31 closed

[2021-05-11 00:52] jbogarin commented on #32
Tim,

I just uploaded a new version to PyPI (2.2.2) and created the tag here

The reason was because the Cisco DNA Center lab we used to create this SDK version was missing the `GET /network-device` endpoint documentation and that's what we use to generate the SDK.

I'll send you the bpm_ and jsd_ response tomorrow.

[2021-06-08 17:28] wastorga commented on #10
@jrpell

Sorry for the delay.

You seem to be using a `DNA_CENTER_VERSION` below `1.3.1` since you are using `template_programmer`.
FYI, since `1.3.1` now the module is `configuration_templates`.

Which version of the dnacentersdk are you using?

Newer versions have solved the issue with the `json=_payload`.

So I will recommend updating the dnacentersdk, if you still encounter an issue with the n

[2021-06-08 17:33] wastorga commented on #15
@stsewd Done, thanks for the heads up.

[2021-06-08 17:33] #15 closed

[2021-06-08 17:42] jrpell commented on #10
Oh wow. Forgot I submitted this. I've since upgraded everything and using updated versions of the SDK and all is good. Thanks!

[2021-06-08 17:42] #10 closed

[2021-06-08 17:48] wastorga commented on #23
@jeremypng

Sorry for the delay.

The latest dnacentersdk version fixes that issue (really since version 2.2.2). The internal variable `params` was replaced with `_params`.

[2021-06-08 18:02] #23 closed

[2021-06-08 18:31] wastorga commented on #32
@timway

Sorry for the delay.

Regarding the bpm_ and jsd_, it is partially a quirk of the code generation tool. Let me explain.

The `jsd_` files under [models/validators/{version}/](https://github.com/cisco-en-programmability/dnacentersdk/tree/master/dnacentersdk/models/validators/v1_2_10) are JSON schema validators. They are mapped in [models/schema_validator.py](https://github.com/cisco-en-pro

[2021-06-08 19:20] wastorga commented on #25
@nonstdout

Sorry for the delay.

There was an issue with the documentation for download_a_file_by_fileid, the return type is urllib3.response.HTTPResponse rather than MyDict.

The Content-Type of the DNA Center API File is usually application/octet-stream rather than application/json.

[code]

Just in case, response1.data are bytes, hopefully, you can convert that to what you need.

[2021-06-08 19:30] wastorga commented on #27
@zapodeanu Just reopen this issue to comment on alternative options.

The dnacentersdk has a way to add API call definitions using `CustomCaller`, you can view [examples in the documentation](https://dnacentersdk.readthedocs.io/en/latest/api/quickstart.html#adding-api-call-definitions).

An check more information on [CustomCaller in the documentation](https://dnacentersdk.readthedocs.io/en/latest/

[2021-06-08 19:30] #27 closed

[2021-06-29 14:20] TowsonDave opened #33 "pip install dnacentersdk fails on Windows 10"
pip install dnacentersdk fails on Windows 10.
PS C:\Windows\system32> pip install dnacentersdk
ERROR: Exception:
Traceback (most recent call last):
  File "c:\program files\python39\lib\site-packages\pip\_internal\cli\base_command.py", line 180, in _main
    status = self.run(options, args)
  File "c:\program files\python39\lib\site-packages\pip\_internal\cli\req_command.py", line 204, in wrapper

[2021-07-08 14:09] maconrad opened #34 "network_settings.create_network() issue"
Hi All
JSON Schema Validation is incorrect for all DNS related stuff in this request.

Original Request / dnacentersdk.exceptions.MalformedRequest:
{'settings': {'dnsServer': {'primaryIpAddress': '10.5.5.5', 'secondaryIpAddress': '10.6.6.6'}, 'dhcpServer': ['10.1.1.1', '10.2.2.2'], 'ntpServer': ['10.3.3.3', '10.4.4.4']}

If you put in the value of the acutal enum the validation passes and the requ

[2021-07-08 14:15] maconrad commented on #34
I'm pretty sure it is because of the ENUM in the json schema.

"primaryIpAddress": {
                "enum": [
                "valid range : 1.0.0.0 - 223.255.255.255"
                ],
                "type": "string"
                },
                "secondaryIpAddress": {
                "enum": [
                "valid range : 1.0.0.0 - 223.255.255.255"
                ],

whereas json sch

[2021-07-08 14:36] maconrad commented on #34
same will probably be true for network_aaa and clientAndEndpoint_aaa as they are also using enums...

[2021-07-15 09:56] maconrad opened #35 "reserve-ip-subpool fails"
Hi All
Reserve IP Subpool fails with dnacentersdk as well as via postman direct to DNAC.
https://{{dnac}}/dna/intent/api/v1/reserve-ip-subpool/{{siteid}}

Try with following input:
{
    "name": "Test1",
    "type": "Generic",
    "ipv6AddressSpace": false,
    "ipv4GlobalPool": "3.0.0.0/24",
    "ipv4Prefix": true,
    "ipv4PrefixLength": 24,
    "ipv4Subnet": "3.1.0.0"
}

---
Output is Ipv6 Glob

[2021-07-15 14:16] wastorga commented on #34
Hi @maconrad.

Thank you for reporting the issue. We are working on updating the library to the latest Cisco DNA Center software version.

We will remove the enum in the JSON schemas files that do not have actual values and are instead descriptions.

Furthermore, we will consider adding the `format: ipv4` to those cases.

For the time being, you can call the function with the active_validation=Fal

[2021-07-16 21:34] wastorga commented on #33
Hi, @TowsonDave .

Sorry for the delay. I failed to replicate the issue on Windows 10 with python 3.7.4 and 3.9.6.

Were you able to install it? If not could you provide more details of your environment.

[2021-08-05 18:17] wastorga commented on #34
New published version (2.2.5) has the changes JSON schema changes described above.

[2021-08-05 18:17] #34 closed

[2021-10-08 17:25] Jerbuck opened #37 "DNACenterAPI constructor allows for optional arguments"
The DNACenterAPI constructor allows for optional arguments for username and password. These are technically not optional, they are required. They must be provided by the consumer of the API -OR- in class variables. The arguments are populated if environment variables are set, but those must be set before the module is imported, which is before __init__.py is interpreted, or else they will be 'None

[2021-10-29 21:26] wastorga commented on #37
I was able to reproduce the issue by running the test_get_enviroment_after_import

[code]

[2021-10-29 21:27] wastorga commented on #37
I'm working on a way to resolve the environment variables issue.

[2021-10-29 21:33] jbogarin commented on #33
Closing this issue because of lack of information

[2021-10-29 21:33] #33 closed

[2021-11-01 17:51] wastorga commented on #37
@Jerbuck. Would you please review #38 to correct or add it to the next patch?

[2021-11-01 17:57] #25 closed

[2021-11-01 17:58] #32 closed

[2021-11-01 17:59] wastorga commented on #35
The issue is on the Cisco DNA Center API rather than on the SDK.

[2021-11-01 17:59] #35 closed

[2022-02-22 01:41] noziwatele opened #47 "Need to be able to get full list of L2 and L3 VLANs from network device"
I would like to be able to retrieve a complete list of layer 2 VLANs configured on a network device. Currently the get_device_interface_vlans() function only returns VLAN interfaces.

**Describe the solution you'd like**
get_device_interface_vlans() uses the api/v1/network-device/{{id}}/vlan endpoint. There is a v2 endpoint available on DNAC 2.2.3.4 (not sure about earlier versions) that returns a

[2022-02-22 17:40] zapodeanu commented on #47
What is the v2 endpoint? If the API endpoint is not in API docs, it will not be part of the SDK.

[2022-03-18 13:30] zhenningx opened #50 "Command Runner issue: cannot save command output to file"
From this blog: https://blogs.cisco.com/developer/network-automation-cisco-dna-center-sdk-2

How do you "Retrieve the results and save them to file"? This part is missing from the blog.

The result from the code given in the blog is a class cmd_output, not a file with the results.

More discussion here: https://community.cisco.com/t5/cisco-digital-network/dnac-command-runner-question/m-p/4570843

[2022-03-19 16:32] wastorga commented on #50
Hi, @zhenningx.

On the blog post, there seem to be missing code or missing parameters for the actual download of the file.

As stated in the documentation, the function will return a [urllib3.response.HTTPResponse](https://urllib3.readthedocs.io/en/latest/reference/urllib3.response.html#urllib3.response.HTTPResponse.data) class.

The [download_a_file_by_fileid](https://dnacentersdk.readthedocs.io

[2022-03-21 20:16] zhenningx commented on #50
That worked. Thanks so much!

[2022-03-23 23:29] wastorga commented on #50
For now, it is not possible. However, I am working on a solution. I'll update here when it is done.

[2022-03-24 16:04] wastorga commented on #50
@zhenningx

You could also pass the list of device ids directly to the run_read_only_commands_on_devices.

[code]

_Note: for both solutions you will need the new SDK version_

I hope that helps.

[2022-03-24 18:57] zhenningx commented on #50
@wastorga The solution works well! Thanks!

[2022-03-24 19:08] wastorga commented on #50
@zhenningx. Your welcome. If there is nothing more, please close the issue.

[2022-03-24 19:29] zhenningx commented on #50
Closing the issue. Thanks again.

[2022-03-24 19:29] #50 closed

[2022-05-12 17:26] tali1974 opened #54 "delete_ip_pool_from_sda_virtual_network"
**Prerequisites**
* [x] Have you tested the operation in the API directly?
* [x] Do you have the latest SDK version?

**Describe the bug**
A clear and concise description of what the bug is.
you need to add "siteNameHierarchy" in the parameters

    def delete_ip_pool_from_sda_virtual_network(self,
                                                ip_pool_name,

[2022-05-12 17:29] fmunozmiranda commented on #54
Hey @tali1974, we are working on it.

[2022-05-12 20:28] fmunozmiranda commented on #54
@tali1974 , a new version of dnacentersdk has been published (v2.4.10), try it again with new version and let us know if works for you.

[2022-05-20 17:40] fmunozmiranda commented on #54
Closing this is issue due to inactivity.

[2022-05-20 17:40] #54 closed

[2022-06-03 13:36] tali1974 commented on #54
Sorry for late reply. Yes it’s working

[2022-06-14 11:27] tomvrugt opened #56 "DNA_CENTER_VERIFY environment variable is not parsed correctly"
**Prerequisites**
* [x] Have you tested the operation in the API directly?
* [x] Do you have the latest SDK version?

**Describe the bug**
When environment variable DNA_CENTER_VERIFY is set to "false" or 0, the DNACenterAPI Connection Object still gets initialized with verify=True.

**Expected behavior**
The DNACenterAPI Connection Object gets initialized with verify=False.

**Screenshots**
[code]

[2022-06-15 22:05] bvargasre commented on #56
Hi @tomvrugt the problem and the pull request have been reviewed and will be accepted.
Thank you for reporting it and providing a solution.

[2022-06-15 22:05] #56 closed

[2022-07-12 11:53] nextnoob opened #60 "It is not possible to create a global pool with network_settings.create_global_pool"
**Prerequisites**
* [X] Have you tested the operation in the API directly?

Yes &rarr;

Example Payload:

[code]
* [X] Do you have the latest SDK version?
[code]

**Describe the bug**

Class: classNetworkSettings
Function: create_global_pool(settings=None, headers=None, payload=None, active_validation=True, **request_parameters)

The parameter "IpAddressSpace" in the payload does not allow valid v

[2022-07-12 15:17] bvargasre commented on #60
Hi @nextnoob, thanks for report, we will work on it.

[2022-07-12 18:13] bvargasre commented on #60
Hi @nextnoob, dnacentersdk has been updated to version 2.5.1, so try this new version and tell me if it works.

[2022-07-12 20:10] nextnoob commented on #60
Hi @bvargasre ,

it works perfectly. Thanks for the quick implementation!

[2022-07-12 20:10] #60 closed

[2022-07-28 14:20] pablmartC opened #62 "Create_Network malformed request for 2.3.3"
Hi team,

I've DNAC 2.3.3.3 and using the dnacentersdk.
I'm trying to configure the network settings of DNAC by using the create_network function under network_settings class.

I'm passing the following schema

{
  "settings" : {
    "dnsServer": {
      "domainName" : "domain.local",
      "primaryIpAddress": "x.x.x.x"
        }
    }
}

The SDK returns "MalformedRequest", Reason: data.settings.d

[2022-07-29 21:07] bvargasre commented on #62
Hi @pablmartC, thanks for reporting the bug, dnacentersdk has been updated to version 2.5.2, so try this new version and tell me if it works.

[2022-08-02 12:06] pablmartC commented on #62
Thank you. It's working now.

[2022-08-08 08:01] #62 closed

[2022-08-09 20:07] nextnoob opened #64 "Sda.adds_border_device virtualNetwork array not accepted as value"
**Prerequisites**
* [X] Have you tested the operation in the API directly?

Yes &rarr;

Example Payload:

[code]

* [X] Do you have the latest SDK version?

[code]

**Describe the bug**

Class: classSda
Function: adds_border_device(headers=None, payload=None, active_validation=True, **request_parameters)

The scheme under [Developer DNAC Docs](https://developer.cisco.com/docs/dna-center/#!add-bord

[2022-08-09 20:17] nextnoob opened #65 "Sda.adds_border_device boolean not accepted for connectedToInternet and borderWithExternalConnectivity"
**Prerequisites**
* [X] Have you tested the operation in the API directly?

Yes &rarr;

Example Payload:

[code]

* [X] Do you have the latest SDK version?

[code]

**Describe the bug**

Class: classSda
Function: adds_border_device(headers=None, payload=None, active_validation=True, **request_parameters)

First issue:
The scheme under [Developer DNAC Docs](https://developer.cisco.com/docs/dna-cent

[2022-08-09 21:33] fmunozmiranda commented on #64
Hey @nextnoob , there´s a new version of dnacentersdk (2.5.3) with solved problem, try it and let us know if it works for you.

[2022-08-09 21:37] fmunozmiranda commented on #65
Hey @nextnoob , there´s a new version of dnacentersdk (2.5.3) with solved problem, try it and let us know if it works for you.

[2022-08-09 21:50] nextnoob commented on #64
Hey @fmunozmiranda ,

unfortunately the validation does not work yet.

Error Message:
[code]

Detail:
[code]

[2022-08-09 21:53] nextnoob commented on #65
Hey @fmunozmiranda ,

the implementation worked, thank you very much!

What about the DNAC API docs? Will this be adapted or can it be that in newer DNAC versions only Boolean will be accepted again?

[2022-08-09 22:18] fmunozmiranda commented on #64
@nextnoob, I see may be something wrong with the object creation. Malformed request details this structure:
[code]

[2022-08-09 22:56] fmunozmiranda commented on #65
We are going to report it, however that does not fall on us, we only provide support to the sdk. If there´s anything else, please close issue.

[2022-08-10 06:59] nextnoob commented on #64
Oh, my mistake. I still had the "old" syntax from the DNAC API documentation.

Thank you for the fix.

[2022-08-10 06:59] #64 closed

[2022-08-10 06:59] #65 closed

[2022-08-11 13:33] jumaluwati opened #68 "DNA Center 2.3.3.4 - Report API Issue"
Issue description:
The **report creation** API doesn't work on DNA Center 2.3.3.4 version (the latest when writing this ). All the parameters are provided and they do work on earlier DNA Center releases (I've tried it on 2.2.3.4) and it works perfectly with dnacentersdk versions 2.2.3.3 & 2.3.3.0

The output when running the code is as follows:

_**dnacentersdk.exceptions.ApiError: [412] Precondit

[2022-09-01 18:14] pmormr opened #70 "Add the ability to depaginate API queries that paginate"
**Is your feature request related to a problem? Please describe.**

My network is quite large, and as such I'm very frequently running queries that return results in excess of the "limit" variable set for the particular function.

As a result, I need to create a loop that re-runs the queries, increasing the offset by the limit (which isn't consistent between functions) until the response is empty,

[2022-09-02 17:17] fmunozmiranda commented on #70
Hey @pmormr, thanks for the improvement proposal, we will consider it.

[2022-09-02 17:18] fmunozmiranda commented on #70
Hey @pmormr, thanks for the improvement proposal, we will consider it.

[2022-09-02 17:25] fmunozmiranda commented on #70
Hey @pmormr, thanks for the improvement proposal, we will consider it.
On the other hand, we can do workarounds to get all the elements in the apis that paginate, taking the "get_devices_list" endpoint as an example, the workaround would be the following.
[code]

---
**Note:**

This workaround may changes in another pagination endpoint.
---

Regards.

[2022-09-03 20:07] fatman00 opened #71 "Some sda endpoints does not work"
**Prerequisites**
* yes have tested with the API directly /dna/intent/api/v1/business/sda/fabric-site
* version: dnacentersdk==2.5.4

When trying to get the sda fabric count and creating a new fabric site the SDK fails with an HTTP error 400

Cannot test the fabric count from the DNAC GUI as it is not on the list, but have tested the POST:fabric-site endpoint and I am able to create a fabric site

[2022-09-05 07:41] Ivanszky opened #72 "re-auth after 50 requests"
I have experienced that after using Sites.assign_device_to_site() 50 times with the same DNACenterAPI object, it doesn't work anymore.  I suppose the authentication token might be invalidated by DNAC after 50 use?

It would be nice if DNACenterAPI would request automatically a new token once the current token becomes invalid. Alternatively it would be still nice to have a method which checks the v

[2022-09-05 19:14] fmunozmiranda commented on #71
Hey @fatman00 could you please active debug and show me more details?.

Here's detail how to bring debug on:
https://dnacentersdk.readthedocs.io/en/latest/api/quickstart.html#configuring-logging-for-dnacentersdk

Thanks

[2022-09-05 19:14] fmunozmiranda commented on #72
Hey @fatman00 could you please active debug and show me more details?.

Here's detail how to bring debug on:
https://dnacentersdk.readthedocs.io/en/latest/api/quickstart.html#configuring-logging-for-dnacentersdk

Thanks

[2022-09-05 19:14] fmunozmiranda commented on #72
Hey @Ivanszky  could you please active debug and show me more details?.

Here's detail how to bring debug on:
https://dnacentersdk.readthedocs.io/en/latest/api/quickstart.html#configuring-logging-for-dnacentersdk

Thanks

[2022-09-07 16:58] zapodeanu commented on #72
The Cisco DNA Center Auth token is valid for 60 minutes. Is your app running longer that 60 min?

[2022-09-08 09:09] Ivanszky commented on #72
The app is running only for a couple of seconds. I will send the debugs within a couple of days.

[2022-09-14 12:27] fatman00 commented on #71
Hi @fmunozmiranda I have now redone the test, and it seems to work whenever I create a fabric site. But I get the above error when I try to create a fabric-site that already exist. I think this is a user error.

[2022-09-14 12:41] fatman00 commented on #71
If I use another of the methods: get_sda_fabric_count() it gives me an error.
If I run the following code:
[code]
I get this error:

[code]

[2022-10-07 20:32] fmunozmiranda commented on #72
Hey @Ivanszky , it has been pass 29 days after your last message, please update us or we will close issue due inactivity.

[2022-10-08 13:06] Ivanszky commented on #72
apologies for the late response. I've created a simple script to add dummy devices to the DNAC inventory, with IP addresses ranging from 1.1.1.0 to 1.1.1.99.  The result is that only devices from 1.1.1.0 to 1.1.1.28 appeared in the inventory.

In the debug I cannot see any differences between the API communication related to successful and unsuccesful device additions. That probably means that it

[2022-10-10 19:36] Ivanszky commented on #72
I have opened a TAC case for this, will update this thread, as I think the root cause might be relevant for the SDK as well.

[2022-10-12 11:17] eviboo opened #73 "template_programmer"
I'm trying to use template_programmer API from DNA center and it seems to be missing from api version 2.2.2.3.
When I try to use the API I get exception 'DNACenterAPI' object has no attribute 'template_programmer'.
template_programmer API is defined for earlier API versions - v1.2.10 and 1.3.0

Is that an accidental omission or I'm supposed to use other methods?

[2022-10-12 15:20] #73 closed

[2022-10-12 15:21] eviboo commented on #73
found a way

[2022-10-13 14:15] Ivanszky commented on #72
it seems that I am hitting https://bst.cloudapps.cisco.com/bugsearch/bug/CSCwc11245

I am not sure if that is something which should be handled by dnacentersdk?

[2022-10-13 16:07] zapodeanu commented on #72
I do not think we should handle this in the Cisco DNA Center SDK.
The bug proposed work around is correct and easy to implement.

[2022-10-13 16:31] Ivanszky commented on #72
The documentation mentions Automatic Rate-Limit Handling. I understand this is a different phenomenon, but one might think this is handled by the SDK (or might be totally uninformed about this issue). So maybe mentioning this bug somewhere around the Automatic Rate-Limit Handling section of the documentation can be useful for many people, before they paralyse their DNA Center for a couple of days,

[2022-10-18 20:41] bvargasre commented on #47
@noziwatele
Issue closed due to inactivity.

[2022-10-18 20:41] #47 closed

[2022-10-18 20:41] #70 closed

[2022-11-11 13:03] erraa opened #74 "Dict_of_str not used in custom_caller"
**Prerequisites**
* [x ] Have you tested the operation in the API directly?
* [x ] Do you have the latest SDK version?

**Describe the bug**
When adding a custom api caller the headers aren't processed through the dict_of_str function
https://github.com/cisco-en-programmability/dnacentersdk/blob/495bffcf4848dbaa7eaf9889e7ae33456b5c127c/dnacentersdk/api/custom_caller.py#L149

**Expected behavior**

[2022-11-17 21:02] bvargasre commented on #74
Hi @erraa
dnacentersdk v2.5.5 is available. Feel free to test it and close or comment if necessary.

https://github.com/cisco-en-programmability/dnacentersdk/blob/925e40e52f5f4da567d6ece9904560f88c8d18a3/dnacentersdk/api/custom_caller.py#L150

[2022-11-21 16:33] jumaluwati commented on #68
### Update:
I found a workaround for this issue, simply to the category of the report - i.e. if I'm interested in creating an AP report; that should fall under the AP category.

_How to add the category type:_
In the payload parameter add the following

**payload = {'dataCategory': 'AP'}**

That works for me even with the latest DNAC version as of today 2.3.3.5

[2022-11-28 18:48] #72 closed

[2022-11-28 18:53] bvargasre commented on #74
Hi @erraa
Gently reminder to comment if there is any problem or doubt. If there are no comments, I will close this topic for inactivity this Wednesday.